@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar section style */
#navbar {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  margin-right: 34px;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.cart-icon {
  font-size: 1.5rem;
  margin-left: 34px;
}

/* banner section style */
#banner {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.banner-content {
  margin-top: 80px;
}

.banner-content-title {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 16px;
}

.banner-content-description {
  font-size: 1rem;
  margin-bottom: 16px;
}

.banner-content-btn {
  padding: 10px 30px;
  background-color: rgb(224, 44, 109);
  color: white;
  border: none;
  border-radius: 8px;
}

.banner-img {
  margin-left: 100px;
}

.banner-circle-img {
  position: relative;
}

.banner-camera-img {
  position: absolute;
  top: 25%;
  left: 56%;
}

/* companies section style */
#companies {
  width: 85%;
  margin: 100px auto;
}

.companies-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Collection section style */
#collection {
  width: 85%;
  margin: 50px auto;
}

.collection-title {
  text-align: center;
  margin-bottom: 36px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 18px rgb(120, 120, 133);
}